.parceiros {
   padding-top: 60px;
   padding-bottom: 120px;

   h2 {
      margin-bottom: 32px;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    
      padding: 0 20px;
      margin: auto;
      max-width: 1400px;

      li {
         display: flex;
       
         padding: 32px;
       
         border-left: 4px solid var(--cor-2);

         img {
            margin: auto;
          }

          &:nth-child(n + 5) {
            border-top: 4px solid var(--cor-2);
          }
          

          &:first-child {
            border-left: none;
          }

          &:nth-child(5) {
            border-left: none;
          }
       }
    }
 }

 @media (max-width:800px) {
   .parceiros {
      padding-bottom: 60px;

      h2 {
         margin-bottom: 20px;
      }

      ul {
         grid-template-columns: 1fr 1fr;

         li {
            padding: 20px;

            &:nth-child(n + 3) {
               border-top: 4px solid var(--cor-2);
             }

            &:nth-child(odd){
               border-left: none;
            }
         }
      }
   }
 }